html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #EFEFEF;
    color: #343434;
}
body {
    margin: none;
    height: 200%;
}
.title {
    font-size: 64px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.subtitle {
    font-size: 20px;
    text-align: center;
}
#subtitle {
    width: 400px;
    margin-left: calc(50% - 200px);
    border-radius: 3px;
}
#home-container {

}
.pages {
    width: 85%;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #EFEFEF;
    margin: auto;
    margin-top: 20px;
}
.pages div {
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #222222;
    text-align: center;
    display: inline-block;
}
a {
    color: #582EA6;
    text-decoration: none;
}
a:hover {
    color: #2F0B71;
}
.pages a:hover {
    color: #582EA6;
    cursor: pointer;
    cursor: hand;
}
.pages div:hover {
    color: #582EA6;
    cursor: pointer;
    cursor: hand;
}
.section {
    display: inline-block;
}
.text {
    text-align: left;
    display: inline-block;
}
.sticky {
     position: fixed;
     top: 0;
     width: calc(100% - 16px);
}
.top-margin {

}
#content-wrapper {
    width: 75%;
    margin: auto;
    border-radius: 4px;
    color: #343434;
    margin-top: 32px;
}
#navbar-wrapper {
    background-color: #EFEFEF;
    z-index: 99;
}
#navbar-ghost {
}
.show {
    display: block;
}
.section {
    display: inline-block;
    padding: 32px;
    font-size: 32px;
    -webkit-transform: translate(-50%, 0px);        
    transform: translate(0, calc(-50% - 0px));
}
.section-wrapper {
    background-color: white;
    margin-top: 32px;
    border-radius: 4px;
}
div#work-label {
    -webkit-transform: translate(0, calc(-50% - 28px));
    transform: translate(0, calc(-50% - 28px));
    margin-left: 12px;
}
#about-label {
}
.text {
    display: inline-block;
    line-height: 170%;
    padding: 20px;
    width: 75%;
    margin-left: 12px;
}
.outerlist {
    list-style-type: none;
}
.text img {
    padding: 10px;
}
#bitbucket {
    display: inline-block;
    margin-left: 32px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

#github {
    display: inline-block;
    margin-left: 32px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

@media (max-width: 960px) {
  .title {
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }
  .pages div {
    padding: 3px;
  }
  #subtitle {
    width: 200px;
    font-size: 16px;
    margin-left: calc(50% - 100px);
  }
}