html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #343434;
    color: white;
}
.title {
    font-size: 64px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.subtitle {
    font-size: 20px;
    text-align: center;
}
#subtitle {
    width: 400px;
    margin-left: calc(50% - 200px);
    border-radius: 3px;
}
#home-container {

}
.pages {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border:  1px solid #9E9D9D;
}
.pages div {
    padding: 10px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
    color: white;
    text-align: center;
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
}
.pages a:hover {
    color: #9E9D9D;
}
.pages div:hover {
    color: #9E9D9D;
}
.section {
    display: inline-block;
}
.text {
    text-align: left;
}

